* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
div {
    position:absolute;
}
body {
    width:100vw;
    height:100vh;
    background-color:#391944;
}
#section_a {
    visibility:hidden;
    background-color:#110712;
}
#section_b {
    visibility:hidden;
    background-color:#391944;
}
#image_a {
    position:absolute;
    width:100%;
    height:100%;
}
.button-style {
    display:block;
    text-decoration:none;
    position:absolute;
    border-radius:999px;
    border:2% solid red;

    color:white;
    text-align:center;
    font-size:100%;
    line-height:100%;
}
#flutterkins_button {
    overflow:hidden;
    background-color:#128844;
}
#flutterkins_button_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
#welcome_text {
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    color:#868686;
}
#welcome_message {
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    color:#118d83;
}
#welcome_message_2 {
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    color:#118d83;
}
#tb {
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    background-color:#1da1f2;
}
.button-style {
    text-decoration:none;
    position:absolute;
    border-radius:999px;
    border:2% solid red;
    padding-left:5%;

    color:white;
    text-align:center;
}
#twitter_button {
    position:absolute;
    background-color:#1da1f2;
}
#kofi_button {
    position:absolute;
    background-color:#50aee4;
}
#twitter_logo {
    position:absolute;
    top:15%;
    height:70%;
    left:6%;
}
#kofi_logo {
    position:absolute;
    top:10%;
    height:80%;
    left:5%;
}
#game_popup {
    position:fixed;
    visibility:hidden;
    width:100vw;
    height:100vh;
}
#game_iframe {
    border:none;
    width:100%;
    height:100%;
}
#back_button {
    color:#868686;
    background-color:orange;
    top:0px;
}
