* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial;
}
.hidden {
    visibility:hidden;
}
div, img {
    position:absolute;
}
body {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.25);
}
main {
    position:absolute;
    width:500px;
    height:500px;
}
#game {
    position:absolute;
    overflow:hidden;
}
#canvas {
    position:absolute;
    width:100%;
    height:100%;
}
#background_a {
    position:absolute;
    width:100%;
    height:100%;
    background:url("images/farm.png");
    background-size:100%;
}
#start_screen {
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    visibility:hidden;
}
#play_button {
    text-align: center;
    font-family:'Caveat Brush';
    width:100%;
}
#banner_image {
    position:absolute;
}
#play_button {
    position:absolute;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
#game_hud {
    left:25%;
    width:50%;
    visibility:hidden;
}
#game_container {
    width:100%;
    height:100%;
}
.score {
    color:white;
    text-shadow:5px 5px 5px black;
    width:50%;
    font-family:'Patrick Hand';
    line-height:100%;
    text-align:center;
    height:100px;
    position:absolute;
}
#current_score {
    left:0px;
}
#high_score {
    right:0px;
}
#tap_region_1 {
    height:90%;
    width:100%;
    top:10%;
}
#fullscreen_button, #exit_game_button{
    position:absolute;
    right:0px;
    height:100%;
}
#top_bar {
    top:0px;
}
#bottom_bar {
    bottom:0px;
}
#customize_screen {
    width:100%;
    height:100%;
    background-color:#118d83;
}
#back_to_selection {
    font-family:'Patrick Hand';
    cursor:pointer;
    z-index:101;
    width:100%;
    height:5vh;
    line-height:5vh;
    font-size:3vh;
    background-color:rgba(0,0,0,0.25);
}
#choose_character {
    font-family:'Patrick Hand';
    color:white;
    width:100%;
    text-align:center;
}